/* Variables */

:root  {
  --basic-black: #000000;
  --basic-darkgray: #333333;
  --basic-white: #ffffff;
  --basic-lowblue: #81B3D2;
  --basic-blue: #669EC0;
  --basic-darkblue:#5496BD;
  --basic-lowgray: #666666;
  --basic-lowbrown: #766357;
  --basic-brown: #604E43;
  --basic-darkbrown: #503E33;
  --basic-checkboxborders:#6A6A6A;
  --basic-sliderinsidebutton:#ABABAB;
  --basic-backgroundcolor: #F2F2F2;
  --basic-backgroundcolorgray:#EEEEEE;
}

/* Fonts */

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans.woff2") format("woff2"),
       url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src:  url("../fonts/PTSans-Bold.woff2") format("woff2"),
        url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/*Global*/

.page-body  {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size:14px;
  line-height:21px;
  text-transform:uppercase;
  color: var(--basic-darkgray);
  background-color: var(--basic-backgroundcolor);
}

.container-center {
  width:1200px;
  margin-left:40px;
  background-color: var(--basic-white);
}

a {
  text-decoration:none;
}

img {
  max-width:100%;
  height:auto;
}

/* Main Navigation*/


.site-navigation {
  list-style:none;
  font-family: "PT Sans Bold", "Arial", sans-serif;
}

.site-navigation a {
  color: var(--basic-black);
}

.header-container {
  height: 56px;
}

.site-navigation a:hover
 {
  color: var(--basic-lowblue);
}

.site-navigation a:active {
  color:var(--basic-black);
  opacity: 0.3;
}

/* Main Countainer*/

.visually-hidden {
  display:none;
}

.mountain-background {
  background: url("../img/back/main-background-photo.jpg") no-repeat;
  background-color: var(--basic-backgroundcolor);
  min-height:509px;
 }

.about-sedona .sedona-town {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size:21px;
  line-height: 26px;
  color: var(--basic-black);
}

/* Sedona Features*/

/* Feature One And Two*/

.feature-one-two {
  background-color: var(--basic-lowblue);
  width:400px;
  min-height:256px;
}

.feature-item h3 {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size:21px;
  line-height:21px;
}

.features-list,
.features-underlist {
  list-style:none;
}

.feature-one-two p,
.feature-one-two h3 {
color: var(--basic-white);
text-align:center;
}

/* Searching Hotels in Sedona*/

.youre-interested {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size:30px;
  line-height:30px;
}

.search-of-hotel {
text-align: center;
line-height: 24px;
}

.date-of-travel {
  line-height:24px;
}

.button {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  width:568px;
  height:86px;
  text-transform:uppercase;
  color:var(--basic-white);
  background-color:var(--basic-lowbrown);
  font-size: 21px;
  line-height:26px;
  outline: none;
  border:0px;
}

.find-hotel-sedona:hover {
background-color: var(--basic-brown);
}

.find-hotel-sedona:active {
background-color:var(--basic-darkbrown);
color: rgba(255,255,255, 0.3);
}

.search-button {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  background-color:var(--basic-lowblue);
  color:var(--basic-white);
  width: 458px;
  height:58px;
  }

.search-button:hover {
  background-color: var(--basic-blue);
}
.search-button:active {
  background-color: var(--basic-darkblue);
  color: rgba(255,255,255,0.3);
}

.search-form-table {
font-family: "PT Sans Bold", "Arial", sans-serif;
background-color:var(--basic-white);
width:568px;
line-height:26px;
}

/* Footer*/

/* Contacts */

.tag-visitsedona,
.contacts-phone {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
}

/* Social Buttons*/

.social-list {
  list-style:none;
}

.social-button {
background-color: var(--basic-lowblue);
display:block;
min-width:46px;
min-height:48px;
margin:1px;
}

.twitter-link {
  background-image: url("../img/twitter.svg");
  width:17px;
  height:17px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.facebook-link {
  background-image: url("../img/fb-icon.svg");
  width:12px;
  height:22px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.youtube-link {
  background-image: url("../img/youtube.svg");
  width:20px;
  height:16px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-button:hover {
  background-color: var(--basic-blue);
  }

  .social-button:active {
    background-color: var(--basic-darkblue);
    color: rgba(255,255,255,0.3);
  }

/* Copyright*/

.footer-copyright {
  line-height:26px;
}

.html-academy-logo {
  background: url("../img/logo-htmlacademy.svg");
  display:block;
  width:115px;
  height:41px;
}
.html-academy-logo:hover {
  background: url("../img/logo-htmlacademy-aiming.svg");
}

.html-academy-logo:active {
  background: url("../img/logo-htmlacademy-pushing.svg");
}

/* CATALOG OF HOTELS*/

/* Header */

.site-navigation .on-the-page {
  color: var(--basic-lowbrown);
}

.filter-bgimage {
  background: url("../img/back/filter-background-image.png") no-repeat;
  background-color:var(--basic-lowgray);
  min-height: 217px;
}

/*Catalog List*/

.catalog-list {
list-style:none;
}

.legend-name {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size:16px;
  line-height:21px;
}

.catalog-of-hotels {

  color:var(--basic-white);
}
.button-search-results {
width:137px;
height:36px;
border: 2px solid var(--basic-white);
border-radius: 2px;
font:inherit;
background-color: transparent;
}

.button-search-results:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-results h3,
.all-hotels .name-of-hotel {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size:21px;
  line-height:26px;
  color: var(--basic-black);
}

.hotels-list,
.sort-list {
  list-style:none;
}

.sort-options,
.sort-list {
  font-size:12px;
  line-height:18px;
}

.by-price {
color: var(--basic-lowblue);
}

.sort-by-type,
.sort-by-rating {
  color: var(--basic-black);
  text-decoration: underline dashed var(--basic-lowblue);
  opacity:0.3;
}

.sort-by-type:hover,
.sort-by-rating:hover {
  color: var(--basic-lowblue);
  opacity:1;
}

.sort-by-type:active,
.sort-by-rating:active {
  color: var(--basic-black);
  text-decoration:none;
}

.sort-down {
  background: url("../img/sort-down-pushing.svg") no-repeat;
  width: 11px;
  height:10px;
}

.sort-up {
background: url("../img/sort-up.svg") no-repeat;
width:11px;
height:10px;
}

.sort-down,
.sort-up {
  background-color: var(--basic-white);
  min-height:10px;
  display:block;
}

.sort-down:hover {
  background-image: url("../img/sort-down-aiming.svg");
}

.sort-up:hover {
  background-image: url("../img/sort-up-aiming.svg");
}

.sort-down:active {
  background-image: url("../img/sort-down-pushing.svg");
}

.sort-up:active {
  background-image: url("../img/sort-up-pushing.svg");
}

.more-details,
.to-book {
  font-family: "PT Sans Bold", "Arial", sans-serif;
  color: var(--basic-white);
  display:block;
}

.more-details {
  background-color: var(--basic-lowblue);
  width:110px;
  height:27px;
}

.more-details:hover {
  background-color: var(--basic-blue);
}

.more-details:active {
  background-color: var(--basic-darkblue);
  color: rgba(255,255,255,0.3);
}

.to-book {
  background-color: var(--basic-lowbrown);
  width:142px;
  height:27px;
}

.to-book:hover {
  background-color: var(--basic-brown);
}

.to-book:active {
  background-color:var(--basic-darkbrown);
  color: rgba(255,255,255, 0.3);
}

.rating {
  color: var(--basic-lowgray);
  background-color:var(--basic-backgroundcolor);
  width:110px;
  height:27px;
  display:block;
}
